@mixin text($color,$size,$font-stack)
{
    color: $color;
    background-color: $color/2;
    font:$size,$font-stack,sans-serif;
}
@mixin text-success()
{
    @include text(green,150% ,Guttman Yad-Light);
}

@mixin text-denger()
{
    @include text(red,200% ,David);
}

@mixin text-info()
{
    @include text(blue,100% ,FrankRuehl);
}

@mixin text-warning()
{
    @include text(rgb(0, 0, 0),50% ,Courier);
}
